<%= bootstrap_form_for(@traineeship, layout: :inline) do |f| %>
  <% if @traineeship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traineeship.errors.count, "error") %> prohibited this traineeship from being saved:</h2>

      <ul>
      <% @traineeship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-4">
   <div class="field">
    <%= f.text_field :ep_name, label: 'Your Name' %>
  </div>
   <div class="field">
    <%= f.email_field :ep_email, label: 'Your Email' %>
  </div>
  <div class="field">
    <%= f.text_field :manager_name, label: 'What was the name of your EP manager or personal AIESECer?' %> 
  </div>
  <div class="field">
      <%= f.text_field :manager_email, label: 'What was the email address of your EP manager or personal AIESECer?' %><br>
  </div>
  </div>
  <div class="col-md-4">
  <div class="field">
      <%= f.text_field :home_lc, label: 'What is the name of your home AIESEC committee' %> 
  </div>
  <div class="field">
    <%= f.text_field :region, label: 'In what region of the world did your internship take place?'%> 
  </div>
  <div class="field">
    <%= f.text_field :country, label: 'In what country did your internship take place?' %><br>
  </div>
   <div class="field">
    <%= f.text_field :lc, label: 'What was the name of your host committee?'%><br>
  </div>
  </div>
   <div class="field">
    <%= f.text_field :tn_name, label: 'What was the name of the project you worked on?' %><br>
  </div>
  <div class="field">
    <%= f.date_select :start, label: 'What was the start date of your internship?' %><br>
  </div>
  <div class="field">
    <%= f.date_select :end, label: 'What was the end date of your internship?' %><br>
    <%= f.date_select :end %>
  </div>
   <div class="field">
    <%= f.number_field :rate_lc, label: 'On a scale of 1-10, how would you rate your host committee?' %><br>
  </div>
   <div class="field">
    <%= f.number_field :rate_tn, label: 'On a scale of 1-10, how would you rate your project?' %><br>
    </div>
    <div class="field">
    <%= f.text_area :tn_comments, label: 'Please give comments about the quality of your internship' %><br>
  </div>
   <div class="field">
    <%= f.text_area :aiesec_comments, label: 'Please give any additional comments about the quality of your AIESEC experience overall' %><br>
  </div>
    <div class="actions">
    <%= f.submit 'Submit', :class=> "btn btn-default" %>
  </div>
<% end %>
