
<h1>AIESEC US OGX Database</h1>

<div class="banner">
 <img src="http://l.rgbimg.com/cache1o34vi/users/f/fa/fangol/600/mnTyDCw.jpg">
</div>

<form class="navbar-form" role="search">
  <div class="form-group">
    <input type="text" class="form-control" >
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<!-- <table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Country</th>
      <th>LC</th>
      <th>TN Name</th>
      <th>Rate TN</th>
      <th>Rate LC </th>
      <th> View TN </th>
      <th> Edit TN </th>
      <th> Delete TN </th>
      <th colspan="0"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @traineeships.each do |traineeship| %>
      <div class="traineeship row"> 
        <div class="info region col-md-3">
        <%= traineeship.region %>
        </div>
        <div class="info country col-md-3">
        <%= traineeship.country %>
        </div>
        <div class="info tn col-md-3">
        <%= traineeship.tn_name%> <br>
        <%= traineeship.rate_tn %>
         </div>
        <div class="info lc col-md-3">
        <%= traineeship.lc %> <br>
        <%= traineeship.rate_lc %>
        </div>
         </div>
         <%end%>
        
  </tbody>
</table>
