<div class="navbar"> <ul> <li> <a href="#">Home </a> <a href="#">Contact Us </a> <a href="#">Login </a></div>

<h1>TN Database</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Country</th>
      <th>LC</th>
      <th>TN Name</th>
      <th>Rate TN</th>
      <th>Rate LC </th>
      <th> View TN </th>
      <th> Edit TN </th>
      <th> Delete TN </th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @traineeships.each do |traineeship| %>
      <tr>
        <td><%= traineeship.region %></td>
        <td><%= traineeship.country %></td>
        <td><%= traineeship.lc %></td>
        <td><%= traineeship.tn_name%></td>
        <td><%= traineeship.rate_lc %></td>
         <td><%= traineeship.rate_tn %></td>
        <td><%= link_to 'Show', traineeship %></td>
        <td><%= link_to 'Edit', edit_traineeship_path(traineeship) %></td>
        <td><%= link_to 'Destroy', traineeship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="create">
<%= link_to 'New Traineeship', new_traineeship_path %>
</div>
