<h1>AIESEC US OGX Database</h1>

<div class="banner">
 <img src="http://l.rgbimg.com/cache1o34vi/users/f/fa/fangol/600/mnTyDCw.jpg">
</div>

<table>
  <thead>
    <tr>
    	<th> Full Name </th>
    	<th> Email </th>
    	<th> Home LC </th>
    	<th> EP Manager Name </th>
    	<th> EP Manager Email </th>
    	<th>Region</th>
      	<th>Country</th>
      	<th>Host LC</th>
      	<th>TN Name</th>
      	<th>Internship Type </th>
      	<th>Start Date </th>
      	<th>End Date </th>
      	<th>Rate Host LC</th>
      	<th>Explanation Host LC Rating </th>
      	<th>Rate TN </th>
      	<th>Explanation TN Rating </th>
      	<th>Rate Home LC</th>
      	<th>Explanation Home LC Rating </th>
      	<th>Visa Rating</th>
      	<th>Cultural Rating</th>
      	<th>Additional Comments</th>
        <th colspan="0"></th>
    </tr>
  </thead> 

<tbody>
    <% @traineeships.each do |traineeship| %>
  
    <tr>
       <td>  <%= traineeship.ep_name%>
	 <%= link_to 'Destroy',  { action: :destroy, id: traineeship.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
       <td>  <%= traineeship.ep_email%> </td>
       <td>  <%=traineeship.home_lc%> </td>
       <td>  <%= traineeship.manager_name%> </td>
       <td>  <%= traineeship.manager_email%> </td>
       <td>   <%= traineeship.region %> </td>
       <td>  <%= traineeship.country%> </td>
       <td>  <%= traineeship.lc%> </td>
       <td>  <%= traineeship.tn_name%> </td>
       <td>  <%= traineeship.tn_type%> </td>
       <td>  <%= traineeship.start%> </td>
       <td>  <%= traineeship.end%> </td>
       <td>  <%= traineeship.rate_lc%> </td>
       <td>  <%= traineeship.lc_comments%></td>
       <td>  <%= traineeship.rate_tn%> </td>
       <td>  <%= traineeship.tn_comments%> </td> 
       <td>   <%= traineeship.rate_homelc%> </td>
       <td>  <%= traineeship.homelc_comments%> </td>
       <td>  <%= traineeship.visa%> </td>
       <td>  <%= traineeship.culture%> </td>
       <td>  <%= traineeship.aiesec_comments%> </td>
       </tr>
     <%end%>
        
  </tbody>
</table>

    
        
  </tbody>
</table>
