<!DOCTYPE html>
<html>
<head>
  <title>OGXdatabase</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
   <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><%= link_to 'Submit Form', new_traineeship_url %></li>
        <li><a href="#">Login</a></li>
  </div>
</nav>
<%= yield %>

</body>
</html>
